/ .col-md-12
/   .thumbnail
/     %h4 #{wideeye.created_at}
/     %img.img-responsive{:src => "#{wideeye.picture.url}"}/
/     .caption
/       .row
/         .col-md-6.col-xs-6
/           %h3 #{wideeye.title}
/         / .col-md-6.col-xs-6.price
/         /   %h3
/         /     %label $649.99
/       %p #{wideeye.description}
/       / .row
/       /   .col-md-6
/       /     %a.btn.btn-primary.btn-product
/       /       %span.glyphicon.glyphicon-thumbs-up
/       /       Like
/       /   .col-md-6
/       /     %a.btn.btn-success.btn-product{:href => "#"}
/       /       %span.glyphicon.glyphicon-shopping-cart
/       /       Buy
/       %p

/ .bs-example
/ 	.panel.panel-default
/ 		.panel-body 
/ 			.col-md-4
/ 				%strong.wideeye #{wideeye.title}
/ 				%p.wideeye #{wideeye.description}
/ 			.col-md-8
/ 				%img.img-responsive{:src => "#{wideeye.picture.url(:medium)}", :class => "wideeye_box"}
/ 		.clearfix
/ 			.col-md-12
/ 				.pull-right
/ 					-# %a.btn.btn-primary{:href => "#"} Learn More
/ 					%small #{wideeye.created_at.strftime("%d %b. %Y") }

%li
	%img{:src => "#{wideeye.picture.url(:medium)}"}/