.episode[episode]
  .screenshot
    = link_to image_tag(episode.still.url(:medium), :size => "200x125", :alt => episode.name), episode
  .main
    .info
      %span.number Episode ##{episode.position}
      –
      %span.published_at #{episode.published_at.strftime('%b %d, %Y')}
      -# –
      -#%span.comments
        -#%a{:href => "/episodes/417-foundation?view=comments"} 64 comments
      %h2
        %a{:href => "/episodes/#{episode.id}"} 
          = episode.name
      .description
        = episode.description
        %span.stats 
      .watch
        %a.pretty_button.read_button{:href => "/episodes/417-foundation?view=asciicast"} Read Episode
  .clear

