/ .episode[episode]
/   .screenshot
/     = link_to image_tag(episode.still.url(:medium), :size => "200x125", :alt => episode.name), episode
/   .main
/     .info
/       %span.number Episode ##{episode.position}
/       –
/       %span.published_at #{episode.published_at.strftime('%b %d, %Y')}
/       -# –
/       -#%span.comments
/         -#%a{:href => "/episodes/417-foundation?view=comments"} 64 comments
/       %h2
/         %a{:href => "/episodes/#{episode.id}"} 
/           = episode.name
/       .description
/         = episode.description
/         %span.stats 
/       .watch
/         %a.pretty_button.read_button{:href => "/episodes/#{episode.id}"} Read Episode
/   .clear

/ Episode
/ Project One
.panel.panel-default.painting
  .row
    .col-md-7
      %div{:style => "background: url(\"#{episode.still.url(:medium)}\") no-repeat center center; height: 580px;"}
      %a{:href => "#"}
        / %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
        / = image_tag(episode.still.url(:medium), :alt => episode.name)
    .col-md-5
      .painting
        %h3 #{episode.name}
        %h4 #{episode.notes}
        %p #{episode.description}
      / %a.btn.btn-primary{:href => "#"}
      /   View Project
      /   %span.glyphicon.glyphicon-chevron-right
/ /.row
