<!DOCTYPE html>
<html>
<head>
  <title>Wideeyekids - Books, apps and activities for children.</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Information on the best books, apps and events for pre-teen children. Keep them curious and make them interesting.">
  <meta name="keywords" content="books, apps, activities, educational, toddlers,
  kids, teaching, learning, interesting">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Google fonts. Needs to be included before bootstrap -->
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Advent+Pro", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

	<%= render 'layouts/header' %>
	<div class="container">
    <%= yield %>
  </div>
	<%= render 'layouts/footer' %>

</body>
</html>
